node_modules
.next
.git
.gitignore
npm-debug.log*
.pnpm-debug.log*
.env
.env*.local
.env.production
.DS_Store
*.pem
README.md
Dockerfile
docker-compose.yml
.dockerignore
coolify-config.json
supabase
.vercel
*.tsbuildinfo
